<div class='row'>
    <div class='col-md-5'>
        <h4> Register</h4>
    </div>
    <div class='col-md-6'>
        <h4> Login</h4>
    </div>
</div>

<div class='row'>
    <%# <div class='col-md-1'></div> %>
    <div class='col-md-5'>
        <form class='form-group' action='<%= register_path %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <!-- First Name  -->
            <div class="form-group row">
                <%# <label for="exampleInputName1">Email address</label> %>
                <input name='user[first_name]' type="first_name" 
                id='first_name' class="form-control" placeholder="First Name">
                <small id="first_nameHelp" class="form-text text-muted">We'll never share your First Name with anyone else.</small>
            </div>
            <!-- Last Name  -->
            <div class="form-group row">
                <%# <label for="exampleInputName1">Email address</label> %>
                <input name='user[last_name]' type="last_name" 
                id='last_name' class="form-control" placeholder="Last Name">
                <small id="last_nameHelp" class="form-text text-muted">We'll never share your Last Name with anyone else.</small>
            </div>
            <!-- Alias  -->
            <div class="form-group row">
                <%# <label for="exampleInputName1">Email address</label> %>
                <input name='user[alias]' type="alias" 
                id='alias' class="form-control" placeholder="Alias">
                <small id="aliasHelp" class="form-text text-muted">We'll never share your Alias with anyone else.</small>
            </div>
            <!-- Email  -->
            <div class="form-group row">
                <%# <label for="exampleInputEmail1">Email address</label> %>
                <input name='user[email]' type="email" id='email' class="form-control" placeholder="Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!-- Password  -->
            <div class="form-group row">
                <%# <label for="exampleInputPassword1">Password</label> %>
                <input name='user[password]' type="password" 
                id='password' class="form-control" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">Your password is safe with us.</small>
            </div>
            <!-- Password Confirmation  -->
            <div class="form-group row">
                <%# <label for="exampleInputPassword1">Password</label> %>
                <input name='user[password_confirmation]' type="password" id='password_confirmation' class="form-control" placeholder="Password Confirmation">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
    
    <div class='col-md-5'>
        <form class='form-group' action='<%= login_path %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <!-- Email  -->
            <div class="form-group">
                <%# <label for="exampleInputEmail1">Email address</label> %>
                <input name='user[email]' type="email" id='email' class="form-control" placeholder="Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!-- Password  -->
            <div class="form-group">
                <%# <label for="exampleInputPassword1">Password</label> %>
                <input name='user[password]' id='password' type="password" class="form-control" placeholder="Password">
                <small id="passwordHelp" class="form-text text-muted">Your password is safe with us.</small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    <%# <div class='col-md-1'></div> %>
</div>