<h4>All Users</h4>
<a href="">New User</a>

<p><%=  users_path  %></p>

<% @users.each do |user| %>
    <p>First Name : <%= user.first_name %></p>
    <p>Last Name : <%= user.last_name %></p>
    <p>Email : <%= user.email %></p>
    <br>
<% end %>    
