<h1>Users#index_users</h1>

<div class="row">
    <div class="col" style='width:48%;background:red;display:inline-block;height:400px;vertical-align:top;'><%= render "shared/index2" %></div>
    <div class="col" style='width:48%;background:yellow;display:inline-block;height:400px;vertical-align:top;'><%= render "shared/index1" %></div>
</div>
