<h1>Posts#index_posts</h1>
<div class="row">
    <div class="col" style='width:32%;background:red;display:inline-block;height:400px;vertical-align:top;'><%= render "shared/index3" %></div>
    <div class="col" style='width:32%;background:yellow;display:inline-block;height:400px;vertical-align:top;'><%= render "shared/index4" %></div>
    <div class="col" style='width:32%;background:pink;display:inline-block;height:400px;vertical-align:top;'><%= render "shared/index5" %></div>
</div>
