<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>The current date and time:</p>

    <h1><%= @date %></h1>
    <h1><%= @time %></h1>
  </body>
</html>
