<h1>Users#new</h1>
<form action="/users" method="POST">
<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
<label for="name">name: </label>
<input type="text" name="name" id="name"/>
<button type="submit">Submit</button>

</form>
