<div class="row">
    <div class="col-md-12">
        <h4>Register</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="<%= register_path %>" method="post" class="form">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <!-- First Name -->
            <div class="form-group">
                <input type="text" name="user[first_name]" class="form-control" id="first_name" placeholder="First name" />
            </div>    
            <!-- Last Name -->
            <div class="form-group">
                <input type="text" name="user[last_name]" class="form-control" id="last_name" placeholder="Last name" />
            </div> 
            <!-- Email -->
            <div class="form-group">
                <input type="email" name="user[email]" class="form-control" id="email" placeholder="Email" />
            </div>
            <!-- Password -->
            <div class="form-group">
                <input type="password" name="user[password]" class="form-control" id="password" placeholder="Password" />
            </div>  
            <!-- Password Confirmation -->
            <div class="form-group">
                <input type="password" name="user[password_confirmation]" class="form-control" id="password_confirmation" placeholder="Password Confirmation" />
            </div> 
            <!-- Submit -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
