<p>index 5</p>
<h1>Go to Users Page</h1>
<form action='/' method='get'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='submit' value='All Users'>
</form>