<style type="text/css">
div{
	display: block;
	margin: 20px auto;
	border: 1px solid black;
	width: 300px;
	text-align: center;
}


</style>
<div>The current time and date:</div>

<div><h1><%= @date %></h1>
<h1><%= @time %></h1>
</div>



