<div class='row'>
    <div class='col-md-12'>
        <h4>Login</h4>
    </div>
</div>

<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
        <form class='form-group' action='<%= login_path %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <!-- Email  -->
            <div class="form-group">
                <%# <label for="exampleInputEmail1">Email address</label> %>
                <input name='user[email]' type="email" id='email' class="form-control" placeholder="Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!-- Password  -->
            <div class="form-group">
                <%# <label for="exampleInputPassword1">Password</label> %>
                <input name='user[password]' id='password' type="password" class="form-control" placeholder="Password">
                <small id="passwordHelp" class="form-text text-muted">Your password is safe with us.</small>
            </div>
            <%# <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Check me out
                </label>
            </div> %>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    <form method='get' action='/'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <div>
            <button type="submit" class="btn btn-warning">Don't have an account?</button>
        </div>
    </form>
    </div>
    <div class='col-md-2'></div>
</div>